<!DOCTYPE html>
<html>
    <head>
        <title>Fear_1</title>
    </head>
    <body>
        <h1>낙심/불안을 벗어나는 방법은?</h1><br/>
        <h2>1. 낙심과 불안 대신 하나님께 소망을 두고 찬송하라. </h2><br/>
        <p1>시편 42:5 내 영혼아 네가 어찌하여 낙심하며 어찌하여 내 속에서 불안해 하는가 너는 하나님께 소망을 두라 그가 나타나 도우심으로 말미암아 내가 여전히 찬송하리로다</p1><br/><br/>
        <h2>2. 세상 사람을 두려워하지 말고 낙심하지 말라. </h2><br/>
        <p1>이사야 7:4 그에게 이르기를 너는 삼가며 조용하라 르신과 아람과 르말리야의 아들이 심히 노할지라도 이들은 연기 나는 두 부지깽이 그루터기에 불과하니 두려워하지 말며 낙심하지 말라  </p1><br/><br/>
        <h2>3. 낙심하지 말고 항상 기도하라. </h2><br/>
        <p1>누가복음 18:1 예수께서 그들에게 항상 기도하고 낙심하지 말아야 할 것을 비유로 말씀하여 </p1><br/><br/>
        <h2>4. 우리 안에 있는 그리스도로 말미암아 답답한 일을 당하여도 낙심하지 말라. </h2><br/>
        <p1>고린도후서 4:7 우리가 이 보배를 질그릇에 가졌으니 이는 심히 큰 능력은 하나님께 있고 우리에게 있지 아니함을 알게 하려 함이라 8 우리가 사방으로 우겨쌈을 당하여도 싸이지 아니하며 답답한 일을 당하여도 낙심하지 아니하며 </p1><br/><br/>
        <h2>5. 겉사람은 낡아지나 속사람은 날로 새로워지므로 낙심하지 말라.</h2><br/>
        <p1>고린도후서 4:16 그러므로 우리가 낙심하지 아니하노니 우리의 겉사람은 낡아지나 우리의 속사람은 날로 새로워지도다</p1><br/><br/>
    </body>
</html>