<!DOCTYPE html>
<html>
    <head>
        <title>Fear_2</title>
    </head>
    <body>
        <h1>두려움을 이기는 방법은?</h1><br/>
        <h2>1. 하나님께서 붙들고 있음을 신뢰함으로 두려워하지 말라.</h2><br/>
        <p1>이사야 41:10 두려워 하지 말라 내가 너와 함께 함이라 놀라지 말라 나는 네 하나님이 됨이라 내가 너를 굳세게 하리라 참으로 너를 도와 주리라 참으로 나의 의로운 오른손으로 너를 붙들리라</p1><br/>
        <p1>여호수아 1:9 내가 네게 명령한 것이 아니냐 강하고 담대하라 두려워하지 말며 놀라지 말라 네가 어디로 가든지 네 하나님 여호와가 너와 함께 하느니라 하시니라</p1><br/><br/>
        <h2>2. 두려워하는 마음은 하나님께서 주신 것이 아님을 명심하라. </h2><br/>
        <p1>디모데후서 1:7 하나님이 우리에게 주신 것은 두려워하는 마음이 아니요 오직 능력과 사랑과 절제하는 마음이니</p1><br/><br/>
        <h2>3. 주님이 함께하시고 보호하시고 안위하심으로 말미암아 두려워하지 말라. </h2><br/>
        <p1>시편 23:4 내가 사망의 음침한 골짜기로 다닐지라도 해를 두려워하지 않을 것은 주께서 나와 함께 하심이라 주의 지팡이와 막대기가 나를 안위하시나이다</p1><br/><br/>
        <h2>4. 우리가 하나님의 소유임으로 두려워하지 말라. </h2><br/>
        <p1>이사야 43:1 야곱아 너를 창조하신 여호와께서 지금 말씀하시느니라 이스라엘아 너를 지으신 이가 말씀하시느니라 너는 두려워하지 말라 내가 너를 구속하였고 내가 너를 지명하여 불렀나니 너는 내 것이라</p1><br/><br/>
        <h2>5. 하나님을 의지함으로 말미암아 사람을 두려워하지 말라. </h2><br/>
        <p1>시편 56:4 내가 하나님을 의지하고 그 말씀을 찬송하올지라 내가 하나님을 의지하였은즉 두려워하지 아니하리니 혈육을 가진 사람이 내게 어찌하리이까</p1><br/>
        <p1>신명기 7:21 너는 그들을 두려워 말라 너희 하나님 여호와 곧 크고 두려운 하나님이 너희 중에 계심이니라 </p1><br/>
        <p1>마태복음 10:28 몸은 죽여도 영혼은 능히 죽이지 못하는 자들을 두려워하지 말고 오직 몸과 영혼을 능히 지옥에 멸하실 수 있는 이를 두려워하라</p1><br/><br/>
        <h2>6. 예수님이 주시는 평안으로 인하여 근심하지도 말고 두려워하지도 말라. </h2><br/>
        <p1>요한복음 14:27 평안을 너희에게 끼치노니 곧 나의 평안을 너희에게 주노라 내가 너희에게 주는 것은 세상이 주는 것과 같지 아니하니라 너희는 마음에 근심하지도 말고 두려워하지도 말라</p1><br/><br/>
    </body>
</html>