<!DOCTYPE html>
<html>
    <head>
        <title>Fear_3</title>
    </head>
    <body>
        <h1>염려를 이기는 방법은?</h1><br/>
        <h2>1. 염려하는 것이 소용없다는 것을 기억하라. </h2><br/>
        <p1>마태복음 6:27 너희 중에 누가 염려함으로 그 키를 한 자라도 더할 수 있겠느냐</p1><br/><br/>
        <h2>2. 염려 대신 감사함으로 기도하면 하나님의 평강이 임한다. </h2><br/>
        <p1>빌립보서 4:6 아무 것도 염려하지 말고 다만 모든 일에 기도와 간구로, 너희 구할 것을 감사함으로 하나님께 아뢰라 7 그리하면 모든 지각에 뛰어난 하나님의 평강이 그리스도 예수 안에서 너희 마음과 생각을 지키시리라  </p1><br/><br/>
        <h2>3. 염려를 주님께 맡기면 주님께서 돌보신다. </h2><br/>
        <p1>베드로전서 5:7 너희 염려를 다 주께 맡기라 이는 그가 너희를 돌보심이라</p1><br/><br/>
        <h2>4. 먼저 하나님의 나라와 의를 구하고 내일 일은 염려하지 말라. </h2><br/>
        <p1>마태복음 6:33 그런즉 너희는 먼저 그의 나라와 그의 의를 구하라 그리하면 이 모든 것을 너희에게 더하시리라 34 그러므로 내일 일을 위하여 염려하지 말라 내일 일은 내일이 염려할 것이요 한 날의 괴로움은 그 날로 족하니라</p1><br/><br/>
        <h2>5. 많은 일로 염려하지 말고 집중해야 할 일을 선택하라. </h2><br/>
        <p1>누가복음 10:41 주께서 대답하여 이르시되 마르다야 마르다야 네가 많은 일로 염려하고 근심하나 42 몇 가지만 하든지 혹은 한 가지만이라도 족하니라 마리아는 이 좋은 편을 택하였으니 빼앗기지 아니하리라 하시니라</p1><br/><br/>
    </body>
</html>