<!DOCTYPE html>
<html>
    <head>
        <title>Health_1</title>
    </head>
    <body>
        <h1>건강하기를 원한다면?</h1><br/>
        <h2>1. 하나님께서 건강을 회복시켜 주시도록 기도하라.</h2><br/>
        <p1>시편 39:13 주는 나를 용서하사 내가 떠나 없어지기 전에 나의 건강을 회복시키소서</p1><br/>
        <p1>다니엘 10:19 이르되 큰 은총을 받은 사람이여 두려워하지 말라 평안하라 강건하라 강건하라 그가 이같이 내게 말하매 내가 곧 힘이 나서 이르되 내 주께서 나를 강건하게 하셨사오니 말씀하옵소서</p1><br/><br/>
        <h2>2. 자신을 지혜롭게 여기지 말고 하나님을 경외하며 악을 떠나라.</h2><br/>
        <p1>잠언 3:7 스스로 지혜롭게 여기지 말지어다 여호와를 경외하며 악을 떠날지어다 8 이것이 네 몸에 양약이 되어 네 골수를 윤택하게 하리라</p1><br/><br/>
        <h2>3. 영혼이 잘됨 같이 범사에 잘되고 강건하기를 기도하라.</h2><br/>
        <p1>요한삼서 1:2 사랑하는 자여 네 영혼이 잘됨 같이 네가 범사에 잘되고 강건하기를 내가 간구하노라 </p1><br/><br/>
        <h2>4. 앙망하는 자에게 힘을 주시는 하나님을 의지하라.</h2><br/>
        <p1>이사야 40:28 너는 알지 못하였느냐 듣지 못하였느냐 영원하신 하나님 여호와, 땅 끝까지 창조하신 이는 피곤하지 않으시며 곤비하지 않으시며 명철이 한이 없으시며 29 피곤한 자에게는 능력을 주시며 무능한 자에게는 힘을 더하시나니 30 소년이라도 피곤하며 곤비하며 장정이라도 넘어지며 쓰러지되 31 오직 여호와를 앙망하는 자는 새 힘을 얻으리니 독수리가 날개치며 올라감 같을 것이요 달음박질하여도 곤비하지 아니하겠고 걸어가도 피곤하지 아니하리로다 </p1><br/><br/>
        <h2>5. 하나님의 말씀을 마음 속에 지키는 자에게는 육체의 건강을 주신다. </h2><br/>
        <p1>잠언 4:20 내 아들아 내 말에 주의하며 내가 말하는 것에 네 귀를 기울이라 21 그것을 네 눈에서 떠나게 하지 말며 네 마음 속에 지키라 22 그것은 얻는 자에게 생명이 되며 그의 온 육체의 건강이 됨이니라</p1><br/><br/>
        <h2>6. 주 예수 그리스도의 이름으로 건강하게 된다.</h2><br/>
        <p1>사도행전 4:10 너희와 모든 이스라엘 백성들은 알라 너희가 십자가에 못 박고 하나님이 죽은 자 가운데서 살리신 나사렛 예수 그리스도의 이름으로 이 사람이 건강하게 되어 너희 앞에 섰느니라</p1><br/>
        <p1>에베소서 6:10 끝으로 너희가 주 안에서와 그 힘의 능력으로 강건하여지고  </p1>
    </body>
</html>