<!DOCTYPE html>
<html>
    <head>
        <title>Health_2</title>
    </head>
    <body>
        <h1>영이 강건하길 원한다면 어떻게 해야 하는가?</h1><br/>
        <h3>1. 성령으로 말미암아 속사람이 강건하여 지기를 기도하라. </h3><br/>
        <p1>에베소서 3:16 그의 영광의 풍성함을 따라 그의 성령으로 말미암아 너희 속사람을 능력으로 강건하게 하시오며 </p1><br/><br/>
        <h3>2. 영혼이 잘되고 건강하기를 기도하라.</h3><br/>
        <p1>요한삼서 1:2 사랑하는 자여 네 영혼이 잘됨 같이 네가 범사에 잘되고 강건하기를 내가 간구하노라 </p1><br/><br/>
        <h3>3. 육신의 생각을 하지 말고 성령의 생각을 하라. </h3><br/>
        <p1>로마서 8:5 육신을 따르는 자는 육신의 일을, 영을 따르는 자는 영의 일을 생각하나니 6 육신의 생각은 사망이요 영의 생각은 생명과 평안이니라 </p1><br/><br/>
        <h3>4. 성령을 따라 행함으로 육체의 욕심을 이루지 말라. </h3><br/>
        <p1>갈라디아서 5:16 내가 이르노니 너희는 성령을 따라 행하라 그리하면 육체의 욕심을 이루지 아니하리라 </p1><br/><br/>
        <h3>5. 성령으로 기도하라. </h3><br/>
        <p1>유다서 1:20 사랑하는 자들아 너희는 너희의 지극히 거룩한 믿음 위에 자신을 세우며 성령으로 기도하며  </p1><br/>
        <p1>에베소서 6:18 모든 기도와 간구를 하되 항상 성령 안에서 기도하고 이를 위하여 깨어 구하기를 항상 힘쓰며 여러 성도를 위하여 구하라</p1><br/><br/>
        <h3>6. 영과 혼과 몸이 흠 없게 보전되기를 소망하라. </h3><br/>
        <p1>데살로니가전서 5:23 평강의 하나님이 친히 너희를 온전히 거룩하게 하시고 또 너희의 온 영과 혼과 몸이 우리 주 예수 그리스도께서 강림하실 때에 흠 없게 보전되기를 원하노라 </p1>
    </body>
</html>