<!DOCTYPE html>
<html>
    <head>
        <title>Lazy_1</title>
    </head>
    <body>
        <h1>게으름을 어떻게 벗어날 수 있는가?</h1><br/>
        <h2>1. 개미의 부지런함과 지혜를 배워라. </h2><br/>
        <p1>잠언 6:6 게으른 자여 개미에게 가서 그가 하는 것을 보고 지혜를 얻으라  </p1><br/><br/>
        <h2>2. 게으른 자는 가난하게 됨을 기억하라. </h2><br/>
        <p1>잠언 10:4 손을 게으르게 놀리는 자는 가난하게 되고 손이 부지런한 자는 부하게 되느니라 </p1><br/><br/>
        <h2>3. 게으른 사람은 다른 사람의 부림을 받게 된다는 것을 기억하라. </h2><br/>
        <p1>잠언 12:24 부지런한 자의 손은 사람을 다스리게 되어도 게으른 자는 부림을 받느니라 </p1><br/><br/>
        <h2>4. 게으른 자의 길은 가시 울타리 같다는 것을 기억하라.</h2><br/>
        <p1>잠언 15:19 게으른 자의 길은 가시 울타리 같으나 정직한 자의 길은 대로니라</p1><br/><br/>
        <h2>5. 게으른 자는 침상에서 놀며 자기를 지혜롭게 여긴다.</h2><br/>
        <p1>잠언 26:14-16 문짝이 돌쩌귀를 따라서 도는 것 같이 게으른 자는 침상에서 도느니라 15 게으른 자는 그 손을 그릇에 넣고도 입으로 올리기를 괴로워하느니라 16 게으른 자는 사리에 맞게 대답하는 사람 일곱보다 자기를 지혜롭게 여기느니라 </p1><br/><br/>
        <h2>6. 열심을 품고 주를 섬기며 게으르게 행하는 사람들에게서 떠나라.</h2><br/>
        <p1>로마서 12:11 부지런하여 게으르지 말고 열심을 품고 주를 섬기라 </p1><br/>
        <p1>데살로니가후서 3:6 형제들아 우리 주 예수 그리스도의 이름으로 너희를 명하노니 게으르게 행하고 우리에게서 받은 전통대로 행하지 아니하는 모든 형제에게서 떠나라 </p1><br/><br/>
        <h2>7. 달란트를 사용하는 착하고 충성된 종이 되어 하나님의 즐거움에 참여하라.</h2><br/>
        <p1>마태복음 25:22 두 달란트 받았던 자도 와서 이르되 주인이여 내게 두 달란트를 주셨는데 보소서 내가 또 두 달란트를 남겼나이다 23 그 주인이 이르되 잘하였도다 착하고 충성된 종아 네가 적은 일에 충성하였으매 내가 많은 것을 네게 맡기리니 네 주인의 즐거움에 참여할지어다 하고 24 한 달란트 받았던 자는 와서 이르되 주인이여 당신은 굳은 사람이라 심지 않은 데서 거두고 헤치지 않은 데서 모으는 줄을 내가 알았으므로 25 두려워하여 나가서 당신의 달란트를 땅에 감추어 두었었나이다 보소서 당신의 것을 가지셨나이다 26 그 주인이 대답하여 이르되 악하고 게으른 종아 나는 심지 않은 데서 거두고 헤치지 않은 데서 모으는 줄로 네가 알았느냐 </p1><br/><br/>
    </body>
</html>