<!DOCTYPE html>
<html>
    <head>
        <title>Love_1</title>
    </head>
    <body>
        <h1>결혼 상대는 어떻게 결정하면 좋은가?</h1><br/>
        <h2>1. 하나님이 짝지어 주시도록 기도하라. </h2><br/>
        <p1>마태복음 19:6 그런즉 이제 둘이 아니요 한 몸이니 그러므로 하나님이 짝지어 주신 것을 사람이 나누지 못할지니라 하시니</p1><br/><br/>
        <h2>2. 하나님 나라를 위해 도움이 되는 사람을 선택하라. </h2><br/>
        <p1>창세기 2:18 여호와 하나님이 이르시되 사람이 혼자 사는 것이 좋지 아니하니 내가 그를 위하여 돕는 배필을 지으리라 하시니라 </p1><br/><br/>
        <h2>3. 그리스도를 경외하고 서로 복종할 수 있는 사람을 선택하라. </h2><br/>
        <p1>에베소서 5:21 그리스도를 경외함으로 피차 복종하라</p1><br/><br/>
        <h2>4. 서로 하나가 되어야 하므로 여자는 존경할 수 있는 사람을 남자는 사랑할 수 있는 사람을 선택하라. </h2><br/>
        <p1>에베소서 5:31 그러므로 사람이 부모를 떠나 그의 아내와 합하여 그 둘이 한 육체가 될지니 32 이 비밀이 크도다 나는 그리스도와 교회에 대하여 말하노라 33 그러나 너희도 각각 자기의 아내 사랑하기를 자신 같이 하고 아내도 자기 남편을 존경하라 </p1><br/><br/>
        <h2>5. 부모를 떠나서 하나 될 수 있는 사람을 선택하라. </h2><br/>
        <p1>마태복음 19:5 말씀하시기를 그러므로 사람이 그 부모를 떠나서 아내에게 합하여 그 둘이 한 몸이 될지니라 하신 것을 읽지 못하였느냐  </p1><br/><br/>
        <h2>6. 생명의 은혜를 함께 이어받을 자로 서로 귀히 여길 수 있는 사람을 선택하라. </h2><br/>
        <p1>베드로전서 3:7 남편들아 이와 같이 지식을 따라 너희 아내와 동거하고 그를 더 연약한 그릇이요 또 생명의 은혜를 함께 이어받을 자로 알아 귀히 여기라 이는 너희 기도가 막히지 아니하게 하려 함이라 </p1><br/><br/>
    </body>
</html>