<!DOCTYPE html>
<html>
    <head>
        <title>Pain_1</title>
    </head>
    <body>
        <h1>고난이 있을 때 어떻게 해야 하는가?</h1><br/>
        <h2>1. 하나님께 기도하라.</h2><br/>
        <p1>야고보서 5:13 너희 중에 고난 당하는 자가 있느냐 그는 기도할 것이요 즐거워하는 자가 있느냐 그는 찬송할지니라</p1><br/>
        <p1>시편 81:7 네가 고난 중에 부르짖으매 내가 너를 건졌고 우렛소리의 은밀한 곳에서 네게 응답하며 므리바 물 가에서 너를 시험하였도다 (셀라）</p1><br/>
        <p1>시편 120:1 내가 환난 중에 여호와께 부르짖었더니 내게 응답하셨도다</p1><br/>
        <p1>사무엘하 22:7 내가 환난 중에서 여호와께 아뢰며 나의 하나님께 아뢰었더니 그가 그의 성전에서 내 소리를 들으심이여 나의 부르짖음이 그의 귀에 들렸도다</p1><br/><br/>
        <h2>2. 고난 중에 말씀을 지키는 것을 배우라. </h2><br/>
        <p1>시편 119:50 이 말씀은 나의 고난 중의 위로라 주의 말씀이 나를 살리셨기 때문이니이다</p1><br/>
        <p1>시편 119:71 고난 당한 것이 내게 유익이라 이로 말미암아 내가 주의 율례들을 배우게 되었나이다</p1><br/>
        <p1>시편 119:67 고난 당하기 전에는 내가 그릇 행하였더니 이제는 주의 말씀을 지키나이다 </p1><br/><br/>
        <h2>3. 하나님을 생각함으로 고난을 참으면 하나님 보시기에 아름다운 것이다. </h2><br/>
        <p1>베드로전서 2:19 부당하게 고난을 받아도 하나님을 생각함으로 슬픔을 참으면 이는 아름다우나</p1><br/>
        <h2>4. 환난 중에 즐거워하여 인내를 이루고, 연단을 이루며, 소망을 이루라.</h2><br/>
        <p1>로마서 5:3 다만 이뿐 아니라 우리가 환난 중에도 즐거워하나니 이는 환난은 인내를, 4 인내는 연단을, 연단은 소망을 이루는 줄 앎이로다 </p1><br/><br/>
    </body>
</html>