<!DOCTYPE html>
<html>
    <head>
        <title>Pain_3</title>
    </head>
    <body>
        <h1>고통(환난)이 존재하는 이유는?</h1><br/>
        <h2>1. 하나님께서 빛, 어둠, 평안, 환난을 창조하셨다. </h2><br/>
        <p1>이사야 45:7 나는 빛도 짓고 어둠도 창조하며 나는 평안도 짓고 환난도 창조하나니 나는 여호와라 이 모든 일들을 행하는 자니라 하였노라 </p1><br/><br/>
        <h2>2. 하나님의 말씀을 준행하지 아니함으로 고통을 주셨다.</h2><br/>
        <p1>레위기 26:14 그러나 너희가 내게 청종하지 아니하여 이 모든 명령을 준행하지 아니하며 15 내 규례를 멸시하며 마음에 내 법도를 싫어하여 내 모든 계명을 준행하지 아니하며 내 언약을 배반할진대 16 내가 이같이 너희에게 행하리니 곧 내가 너희에게 놀라운 재앙을 내려 폐병과 열병으로 눈이 어둡고 생명이 쇠약하게 할 것이요 너희가 파종한 것은 헛되리니 너희의 대적이 그것을 먹을 것임이며 </p1><br/><br/>
        <h2>3. 하나님 목전에 악을 행하고 우상을 섬긴 사람들에게 고통을 주셨다. </h2><br/>
        <p1>사사기 3:7 이스라엘 자손이 여호와의 목전에 악을 행하여 자기들의 하나님 여호와를 잊어버리고 바알들과 아세라들을 섬긴지라 8 여호와께서 이스라엘에게 진노하사 그들을 메소보다미아 왕 구산 리사다임의 손에 파셨으므로 이스라엘 자손이 구산 리사다임을 팔 년 동안 섬겼더니 </p1><br/><br/>
        <h2>4. 하나님이 사탄의 참소를 허락하심으로 고통이 임하였다.</h2><br/>
        <p1>욥기 1:12 여호와께서 사탄에게 이르시되 내가 그의 소유물을 다 네 손에 맡기노라 다만 그의 몸에는 네 손을 대지 말지니라 사탄이 곧 여호와 앞에서 물러가니라  </p1><br/>
        <p1>욥기 2:3 여호와께서 사탄에게 이르시되 네가 내 종 욥을 주의하여 보았느냐 그와 같이 온전하고 정직하여 하나님을 경외하며 악에서 떠난 자가 세상에 없느니라 네가 나를 충동하여 까닭 없이 그를 치게 하였어도 그가 여전히 자기의 온전함을 굳게 지켰느니라</p1><br/><br/>
        <h2>5. 죄로 인하여 고통이 크게 더하여졌다. </h2><br/>
        <p1>창세기 3:16 또 여자에게 이르시되 내가 네게 임신하는 고통을 크게 더하리니 네가 수고하고 자식을 낳을 것이며 너는 남편을 원하고 남편은 너를 다스릴 것이니라 하시고 </p1><br/><br/>
        <h2>6. 고통 가운데 기도하게 하여 구원하시고 평안을 주려함이다. </h2><br/>
        <p1>사사기 3:9 이스라엘 자손이 여호와께 부르짖으매 여호와께서 이스라엘 자손을 위하여 한 구원자를 세워 그들을 구원하게 하시니 그는 곧 갈렙의 아우 그나스의 아들 옷니엘이라</p1><br/>
        <p1>이사야 38:17 보옵소서 내게 큰 고통을 더하신 것은 내게 평안을 주려 하심이라 주께서 내 영혼을 사랑하사 멸망의 구덩이에서 건지셨고 내 모든 죄를 주의 등 뒤에 던지셨나이다 </p1><br/><br/>
        <h2>7. 진짜 고통은 하나님을 버리고 그를 경외함이 없는 것이다. </h2><br/>
        <p1>예레미야 2:19 네 악이 너를 징계하겠고 네 반역이 너를 책망할 것이라 그런즉 네 하나님 여호와를 버림과 네 속에 나를 경외함이 없는 것이 악이요 고통인 줄 알라 주 만군의 여호와의 말씀이니라 </p1><br/><br/>
        <h2>8. 인내와 연단을 통하여 소망을 이루기 위함이다.</h2><br/>
        <p1>로마서 5:3 다만 이뿐 아니라 우리가 환난 중에도 즐거워하나니 이는 환난은 인내를, 4 인내는 연단을, 연단은 소망을 이루는 줄 앎이로다 </p1><br/>
        <p1>욥기 23:10 그러나 내가 가는 길을 그가 아시나니 그가 나를 단련하신 후에는 내가 순금 같이 되어 나오리라 </p1><br/>
        <p1>다니엘 12:10 많은 사람이 연단을 받아 스스로 정결하게 하며 희게 할 것이나 악한 사람은 악을 행하리니 악한 자는 아무것도 깨닫지 못하되 오직 지혜 있는 자는 깨달으리라 </p1><br/><br/>
    </body>
</html>