<!DOCTYPE html>
<html>
    <head>
        <title>Pray_2</title>
    </head>
    <body>
        <h1>리더를 위하여 어떻게 기도할 것인가?</h1><br/>
        <h2>1. 고요하고 편안한 생활을 원한다면 리더들을 위해 기도하라. </h2><br/>
        <p1>디모데전서 2:1 그러므로 내가 첫째로 권하노니 모든 사람을 위하여 간구와 기도와 도고와 감사를 하되 2 임금들과 높은 지위에 있는 모든 사람을 위하여 하라 이는 우리가 모든 경건과 단정함으로 고요하고 평안한 생활을 하려 함이라 </p1><br/><br/>
        <h2>2. 리더를 보호하시고 하나님의 뜻을 따라 선하게 인도해 주시도록 기도하라. </h2><br/>
        <p1>로마서 15:30 형제들아 내가 우리 주 예수 그리스도와 성령의 사랑으로 말미암아 너희를 권하노니 너희 기도에 나와 힘을 같이하여 나를 위하여 하나님께 빌어 31 나로 유대에서 순종하지 아니하는 자들로부터 건짐을 받게 하고 또 예루살렘에 대하여 내가 섬기는 일을 성도들이 받을 만하게 하고 32 나로 하나님의 뜻을 따라 기쁨으로 너희에게 나아가 너희와 함께 편히 쉬게 하라 33 평강의 하나님께서 너희 모든 사람과 함께 계실지어다 아멘</p1><br/><br/>
        <h2>3. 간구함으로 리더의 일을 도우라. </h2><br/>
        <p1>고린도후서 1:11 너희도 우리를 위하여 간구함으로 도우라 이는 우리가 많은 사람의 기도로 얻은 은사로 말미암아 많은 사람이 우리를 위하여 감사하게 하려 함이라 </p1><br/><br/>
        <h2>4. 박해하거나 모욕하는 리더를 위하여 기도하라. </h2><br/>
        <p1>마태복음 5:44 나는 너희에게 이르노니 너희 원수를 사랑하며 너희를 박해하는 자를 위하여 기도하라 </p1><br/>
        <p1>누가복음 6:28 너희를 저주하는 자를 위하여 축복하며 너희를 모욕하는 자를 위하여 기도하라</p1><br/><br/>
        <h2>5. 리더의 어려움이 해결되도록 기도하라. </h2><br/>
        <p1>사도행전 12:5 이에 베드로는 옥에 갇혔고 교회는 그를 위하여 간절히 하나님께 기도하더라  </p1><br/><br/>
        <h2>6. 리더가 선한 일을 행하도록 기도하라. </h2><br/>
        <p1>히브리서 13:18 우리를 위하여 기도하라 우리가 모든 일에 선하게 행하려 하므로 우리에게 선한 양심이 있는 줄을 확신하노니 </p1><br/><br/>
        <h2>7. 리더가 복음의 비밀을 담대히 알릴 수 있도록 기도하라. </h2><br/>
        <p1>에베소서 6:19 또 나를 위하여 구할 것은 내게 말씀을 주사 나로 입을 열어 복음의 비밀을 담대히 알리게 하옵소서 할 것이니 20 이 일을 위하여 내가 쇠사슬에 매인 사신이 된 것은 나로 이 일에 당연히 할 말을 담대히 하게 하려 하심이라 </p1><br/><br/>
        <h2>8. 리더들의 복음 전파와 보호하심을 위해 기도하라. </h2><br/>
        <p1>데살로니가후서 3:1 끝으로 형제들아 너희는 우리를 위하여 기도하기를 주의 말씀이 너희 가운데서와 같이 퍼져 나가 영광스럽게 되고 2 또한 우리를 부당하고 악한 사람들에게서 건지시옵소서 하라 믿음은 모든 사람의 것이 아니니라 </p1><br/><br/>
    </body>
</html>