<!DOCTYPE html>
<html>
    <head>
        <title>Sin_1</title>
    </head>
    <body>
        <h1>죄에 빠진 사회/국가를 위하여 어떻게 기도해야 하는가?</h1><br/>
        <h2>1. 공동체의 죄악에 대하여 영적 생명을 걸고 기도하라. </h2><br/>
        <p1>출애굽기 32:30 이튿날 모세가 백성에게 이르되 너희가 큰 죄를 범하였도다 내가 이제 여호와께로 올라가노니 혹 너희를 위하여 속죄가 될까 하노라 하고 31 모세가 여호와께로 다시 나아가 여짜오되 슬프도소이다 이 백성이 자기들을 위하여 금 신을 만들었사오니 큰 죄를 범하였나이다 32 그러나 이제 그들의 죄를 사하시옵소서 그렇지 아니하시오면 원하건대 주께서 기록하신 책에서 내 이름을 지워 버려 주옵소서</p1><br/><br/>
        <h2>2. 하나님 앞에 나아가 회개하며 긍휼을 구하라. </h2><br/>
        <p1>느헤미야 1:4 내가 이 말을 듣고 앉아서 울고 수일 동안 슬퍼하며 하늘의 하나님 앞에 금식하며 기도하여 5 이르되 하늘의 하나님 여호와 크고 두려우신 하나님이여 주를 사랑하고 주의 계명을 지키는 자에게 언약을 지키시며 긍휼을 베푸시는 주여 간구하나이다 6 이제 종이 주의 종들인 이스라엘 자손을 위하여 주야로 기도하오며 우리 이스라엘 자손이 주께 범죄한 죄들을 자복하오니 주는 귀를 기울이시며 눈을 여시사 종의 기도를 들으시옵소서 나와 내 아버지의 집이 범죄하여 7 주를 향하여 크게 악을 행하여 주께서 주의 종 모세에게 명령하신 계명과 율례와 규례를 지키지 아니하였나이다</p1><br/>
        <p1>다니엘 9:3 내가 금식하며 베옷을 입고 재를 덮어쓰고 주 하나님께 기도하며 간구하기를 결심하고 4 내 하나님 여호와께 기도하며 자복하여 이르기를 크시고 두려워할 주 하나님, 주를 사랑하고 주의 계명을 지키는 자를 위하여 언약을 지키시고 그에게 인자를 베푸시는 이시여 5 우리는 이미 범죄하여 패역하며 행악하며 반역하여 주의 법도와 규례를 떠났사오며 6 우리가 또 주의 종 선지자들이 주의 이름으로 우리의 왕들과 우리의 고관과 조상들과 온 국민에게 말씀한 것을 듣지 아니하였나이다</p1><br/><br/>
        <h2>3. 가증한 일로 말미암아 탄식하고 울며 기도하라. </h2><br/>
        <p1>에스겔 9:3 그룹에 머물러 있던 이스라엘 하나님의 영광이 성전 문지방에 이르더니 여호와께서 그 가는 베 옷을 입고 서기관의 먹 그릇을 찬 사람을 불러 4 여호와께서 이르시되 너는 예루살렘 성읍 중에 순행하여 그 가운데에서 행하는 모든 가증한 일로 말미암아 탄식하며 우는 자의 이마에 표를 그리라 하시고</p1><br/><br/>
        <h2>4. 악한 길에서 떠나 스스로 낮추고 하나님의 얼굴을 찾으며 기도하라.</h2><br/>
        <p1>역대하 7:13 혹 내가 하늘을 닫고 비를 내리지 아니하거나 혹 메뚜기들에게 토산을 먹게 하거나 혹 전염병이 내 백성 가운데에 유행하게 할 때에 14 내 이름으로 일컫는 내 백성이 그들의 악한 길에서 떠나 스스로 낮추고 기도하여 내 얼굴을 찾으면 내가 하늘에서 듣고 그들의 죄를 사하고 그들의 땅을 고칠지라 15 이제 이 곳에서 하는 기도에 내가 눈을 들고 귀를 기울이리니</p1><br/><br/>
        <h2>5. 하나님 앞에 함께 죄를 자복하며 기도하라. </h2><br/>
        <p1>에스라 10:1 에스라가 하나님의 성전 앞에 엎드려 울며 기도하여 죄를 자복할 때에 많은 백성이 크게 통곡하매 이스라엘 중에서 백성의 남녀와 어린 아이의 큰 무리가 그 앞에 모인지라 2 엘람 자손 중 여히엘의 아들 스가냐가 에스라에게 이르되 우리가 우리 하나님께 범죄하여 이 땅 이방 여자를 맞이하여 아내로 삼았으나 이스라엘에게 아직도 소망이 있나니 3 곧 내 주의 교훈을 따르며 우리 하나님의 명령을 떨며 준행하는 자의 가르침을 따라 이 모든 아내와 그들의 소생을 다 내보내기로 우리 하나님과 언약을 세우고 율법대로 행할 것이라</p1><br/>
        <p1>사무엘상 7:5 사무엘이 이르되 온 이스라엘은 미스바로 모이라 내가 너희를 위하여 여호와께 기도하리라 하매 6 그들이 미스바에 모여 물을 길어 여호와 앞에 붓고 그 날 종일 금식하고 거기에서 이르되 우리가 여호와께 범죄하였나이다 하니라 사무엘이 미스바에서 이스라엘 자손을 다스리니라</p1><br/><br/>
        <h2>6. 높은 사람들을 위하여 기도하라. </h2><br/>
        <p1>디모데전서 2:1 그러므로 내가 첫째로 권하노니 모든 사람을 위하여 간구와 기도와 도고와 감사를 하되 2 임금들과 높은 지위에 있는 모든 사람을 위하여 하라 이는 우리가 모든 경건과 단정함으로 고요하고 평안한 생활을 하려 함이라 
        </p1><br/><br/>
    </body>
</html>