<!DOCTYPE html>
<html>
    <head>
        <title>Sin_2</title>
    </head>
    <body>
        <h1>죄의 반복으로 부터 어떻게 벗어날 수 있는가?</h1><br/>
        <h2>1. 죄를 짓는 일이 마귀에게 속하는 일이고 죄의 결과는 영적인 사망임을 명심하라.</h2><br/>
        <p1>요한일서 3:8 죄를 짓는 자는 마귀에게 속하나니 마귀는 처음부터 범죄함이라 하나님의 아들이 나타나신 것은 마귀의 일을 멸하려 하심이라 9 하나님께로부터 난 자마다 죄를 짓지 아니하나니 이는 하나님의 씨가 그의 속에 거함이요 그도 범죄하지 못하는 것은 하나님께로부터 났음이라</p1><br/>
        <p1>로마서 6:23 죄의 삯은 사망이요 하나님의 은사는 그리스도 예수 우리 주 안에 있는 영생이니라</p1><br/><br/>
        <h2>2. 죄를 자백함으로 우리 죄를 사하시며 깨끗하게 하시는 하나님을 경험하라. </h2><br/>
        <p1>요한일서 1:9 만일 우리가 우리 죄를 자백하면 그는 미쁘시고 의로우사 우리 죄를 사하시며 우리를 모든 불의에서 깨끗하게 하실 것이요</p1><br/><br/>
        <h2>3. 하나님께서는 우리가 죄와 대적하여 피흘리기까지 싸우기를 원하신다. </h2><br/>
        <p1>히브리서 12:4 너희가 죄와 싸우되 아직 피흘리기까지는 대항하지 아니하고</p1><br/><br/>
        <h2>4. 죄에 대하여 죽은 자로 하나님께 대하여는 살아있는 자로 여기라. </h2><br/>
        <p1>로마서 6:10 그가 죽으심은 죄에 대하여 단번에 죽으심이요 그가 살아 계심은 하나님께 대하여 살아 계심이니 11 이와 같이 너희도 너희 자신을 죄에 대하여는 죽은 자요 그리스도 예수 안에서 하나님께 대하여는 살아 있는 자로 여길지어다</p1><br/><br/>
        <h2>5. 우리 몸을 죄에게 내주지 말고 의의 무기로 하나님께 드리라. </h2><br/>
        <p1>로마서 6:13 또한 너희 지체를 불의의 무기로 죄에게 내주지 말고 오직 너희 자신을 죽은 자 가운데서 다시 살아난 자 같이 하나님께 드리며 너희 지체를 의의 무기로 하나님께 드리라</p1><br/><br/>
        <h2>6. 모든 생각을 사로잡아 그리스도에게 복종하게 하라. </h2><br/>
        <p1>고린도후서 10:5 하나님 아는 것을 대적하여 높아진 것을 다 무너뜨리고 모든 생각을 사로잡아 그리스도에게 복종하게 하니 </p1><br/><br/>
    </body>
</html>