<!DOCTYPE html>
<html>
    <head>
        <title>Truth_1</title>
    </head>
    <body>
        <h1>진리는 무엇이고 어떻게 알게 되는가?</h1><br/>
        <h2>1. 하나님이 진리이시다. </h2><br/>
        <p1>시편 31:5 내가 나의 영을 주의 손에 부탁하나이다 진리의 하나님 여호와여 나를 속량하셨나이다</p1><br/>
        <p1>요한복음 14:6 예수께서 이르시되 내가 곧 길이요 진리요 생명이니 나로 말미암지 않고는 아버지께로 올 자가 없느니라 </p1><br/>
        <p1>요한복음 15:26 내가 아버지께로부터 너희에게 보낼 보혜사 곧 아버지께로부터 나오시는 진리의 성령이 오실 때에 그가 나를 증언하실 것이요 </p1><br/><br/>
        <h2>2. 말씀이 진리이시다. </h2><br/>
        <p1>시편 119:160 주의 말씀의 강령은 진리이오니 주의 의로운 모든 규례들은 영원하리이다 </p1><br/>
        <p1>요한복음 17:17 그들을 진리로 거룩하게 하옵소서 아버지의 말씀은 진리니이다  </p1><br/><br/>
        <h2>3. 말씀이 우리 안에 거하면 진리를 알게 되고 진리가 우리를 자유롭게 한다.</h2><br/>
        <p1>요한복음 8:31 그러므로 예수께서 자기를 믿은 유대인들에게 이르시되 너희가 내 말에 거하면 참으로 내 제자가 되고 32 진리를 알지니 진리가 너희를 자유롭게 하리라 </p1><br/><br/>
        <h2>4. 하나님께서는 정의를 행하며 진리를 구하는 자를 한 사람이라도 찾기 원하셨다.  </h2><br/>
        <p1>예레미야 5:1 너희는 예루살렘 거리로 빨리 다니며 그 넓은 거리에서 찾아보고 알라 너희가 만일 정의를 행하며 진리를 구하는 자를 한 사람이라도 찾으면 내가 이 성읍을 용서하리라 </p1><br/><br/>
        <h2>5. 우리가 진리로 거룩하게 된다. </h2><br/>
        <p1>요한복음 17:19 또 그들을 위하여 내가 나를 거룩하게 하오니 이는 그들도 진리로 거룩함을 얻게 하려 함이니이다 </p1><br/><br/>
        <h2>6. 우리가 진리를 믿음으로 구원을 받는다. </h2><br/>
        <p1>데살로니가후서 2:13 주께서 사랑하시는 형제들아 우리가 항상 너희에 관하여 마땅히 하나님께 감사할 것은 하나님이 처음부터 너희를 택하사 성령의 거룩하게 하심과 진리를 믿음으로 구원을 받게 하심이니 </p1><br/><br/>
        <h2>7. 진리에 순종함으로 영혼을 깨끗하게 하여 형제를 사랑할 수 있다. </h2><br/>
        <p1>베드로전서 1:22 너희가 진리를 순종함으로 너희 영혼을 깨끗하게 하여 거짓이 없이 형제를 사랑하기에 이르렀으니 마음으로 뜨겁게 서로 사랑하라</p1><br/><br/>
    </body>
</html>