<!DOCTYPE html>
<html>
    <head>
        <title>Work_3</title>
    </head>
    <body>
        <h1>일에 성과가 없을 때 어떻게 해야 하나?</h1><br/>
        <h2>1. 인생의 걸음을 인도하시는 분이 하나님임을 인정하라.</h2><br/>
        <p1>잠언 16:9 사람이 마음으로 자기의 길을 계획할지라도 그의 걸음을 인도하시는 이는 여호와시니라</p1><br/><br/>
        <h2>2. 하나님께서 함께하지 않으시면 사람의 수고가 헛되다. </h2><br/>
        <p1>시편 127:1 여호와께서 집을 세우지 아니하시면 세우는 자의 수고가 헛되며 여호와께서 성을 지키지 아니하시면 파수꾼의 깨어 있음이 헛되도다 </p1><br/>
        <p1>시편 127:2 일찍 일어나고 늦게 눕는 것, 먹고 살려고 애써 수고하는 모든 일이 헛된 일이다. 진실로 주님께서는, 사랑하시는 사람에게는 그가 잠을 자는 동안에도 복을 주신다. (새번역)</p1><br/><br/>
        <h2>3. 예수 그리스도에게 붙어 있으면 열매를 많이 맺는다. </h2><br/>
        <p1>요한복음 15:5 나는 포도나무요 너희는 가지라 그가 내 안에, 내가 그 안에 거하면 사람이 열매를 많이 맺나니 나를 떠나서는 너희가 아무 것도 할 수 없음이라 </p1><br/><br/>
        <h2>4. 먼저 하나님의 나라와 의를 구하라.</h2><br/>
        <p1>마태복음 6:31 그러므로 무엇을 먹을까, 무엇을 마실까, 무엇을 입을까, 하고 걱정하지 말아라. 32 이 모든 것은 모두 이방사람들이 구하는 것이요, 너희의 하늘 아버지께서는, 이 모든 것이 너희에게 필요하다는 것을 아신다. 33 너희는 먼저 하나님의 나라와 하나님의 의를 구하여라. 그리하면 이 모든 것을 너희에게 더하여 주실 것이다. </p1><br/><br/>
        <h2>5. 착하고 좋은 마음으로 말씀을 듣고 지키어 인내로 결실하라.</h2><br/>
        <p1>누가복음 8:14 가시떨기에 떨어졌다는 것은 말씀을 들은 자이나 지내는 중 이생의 염려와 재물과 향락에 기운이 막혀 온전히 결실하지 못하는 자요 15 좋은 땅에 있다는 것은 착하고 좋은 마음으로 말씀을 듣고 지키어 인내로 결실하는 자니라</p1><br/><br/>
        <h2>6. 능력주시는 하나님 안에서 어떤 형편에든지 자족하라. </h2><br/>
        <p1>빌립보서 4:11 내가 궁핍하므로 말하는 것이 아니니라 어떠한 형편에든지 나는 자족하기를 배웠노니 12 나는 비천에 처할 줄도 알고 풍부에 처할 줄도 알아 모든 일 곧 배부름과 배고픔과 풍부와 궁핍에도 처할 줄 아는 일체의 비결을 배웠노라 13 내게 능력 주시는 자 안에서 내가 모든 것을 할 수 있느니라 </p1><br/><br/>
    </body>
</html>