<!DOCTYPE html>
<html>
    <head>
        <title>Work_4</title>
    </head>
    <body>
        <h1>직장을 어떻게 선택하고 어떤 마음으로 들어가야 하는가?</h1><br/>
        <h2>1. 먼저 하나님의 나라와 의를 구하라.</h2><br/>
        <p1>마태복음 6:33 그런즉 너희는 먼저 그의 나라와 그의 의를 구하라 그리하면 이 모든 것을 너희에게 더하시리라 </p1><br/><br/>
        <h2>2. 일에 성실하게 하고 하나님을 기뻐하며 미래를 하나님께 맡기라. </h2><br/>
        <p1>시편 37:3 여호와를 의뢰하고 선을 행하라 땅에 머무는 동안 그의 성실을 먹을 거리로 삼을지어다 4 또 여호와를 기뻐하라 그가 네 마음의 소원을 네게 이루어 주시리로다 5 네 길을 여호와께 맡기라 그를 의지하면 그가 이루시고</p1><br/><br/>
        <h2>3. 하나님이 기뻐하시는 곳에 보내주시도록 기도하라.</h2><br/>
        <p1>이사야 6:8 내가 또 주의 목소리를 들으니 주께서 이르시되 내가 누구를 보내며 누가 우리를 위하여 갈꼬 하시니 그 때에 내가 이르되 내가 여기 있나이다 나를 보내소서 하였더니</p1><br/><br/>
        <h2>4. 하나님이 쓰시는 그릇이 되도록 자기를 깨끗하게 하라. </h2><br/>
        <p1>디모데후서 2:20 큰 집에는 금 그릇과 은 그릇뿐 아니라 나무 그릇과 질그릇도 있어 귀하게 쓰는 것도 있고 천하게 쓰는 것도 있나니 21 그러므로 누구든지 이런 것에서 자기를 깨끗하게 하면 귀히 쓰는 그릇이 되어 거룩하고 주인의 쓰심에 합당하며 모든 선한 일에 준비함이 되리라 </p1><br/><br/>
        <h2>5. 보내신 곳에서도 하나님을 시원하게 하는 충성된 자가 되기를 기도하라. </h2><br/>
        <p1>잠언 25:13 충성된 사자는 그를 보낸 이에게 마치 추수하는 날에 얼음 냉수 같아서 능히 그 주인의 마음을 시원하게 하느니라 </p1><br/><br/>
        <h2>6. 직장에서 함께 일할 동역자들을 위해 기도하라.</h2><br/>
        <p1>마태복음 9:36 무리를 보시고 불쌍히 여기시니 이는 그들이 목자 없는 양과 같이 고생하며 기진함이라 37 이에 제자들에게 이르시되 추수할 것은 많되 일꾼이 적으니 38 그러므로 추수하는 주인에게 청하여 추수할 일꾼들을 보내 주소서 하라 하시니라 </p1><br/><br/>
    </body>
</html>