<!DOCTYPE html>
<html>
    <head>
        <title>Work_1</title>
    </head>
    <body>
        <h1>일과 쉼의 균형은 어떻게 찾을 수 있는가?</h1><br/>
        <h2>1. 하나님께서는 엿새는 일하고 하루는 쉬라고 명령하셨다.</h2><br/>
        <p1>출애굽기 20:8 안식일을 기억하여 거룩하게 지키라 9 엿새 동안은 힘써 네 모든 일을 행할 것이나 10 일곱째 날은 네 하나님 여호와의 안식일인즉 너나 네 아들이나 네 딸이나 네 남종이나 네 여종이나 네 가축이나 네 문안에 머무는 객이라도 아무 일도 하지 말라</p1><br/><br/>
        <h2>2. 예수님은 안식일에도 치유하심으로 자비를 베푸셨다. </h2><br/>
        <p1>마태복음 12:7 나는 자비를 원하고 제사를 원하지 아니하노라 하신 뜻을 너희가 알았더라면 무죄한 자를 정죄하지 아니하였으리라 8 인자는 안식일의 주인이니라 하시니라 </p1><br/><br/>
        <h2>3. 많은 일로 염려하지 말고 주님의 음성에 귀 기울이라.</h2><br/>
        <p1>누가복음 10:41 주께서 대답하여 이르시되 마르다야 마르다야 네가 많은 일로 염려하고 근심하나 42 몇 가지만 하든지 혹은 한 가지만이라도 족하니라 마리아는 이 좋은 편을 택하였으니 빼앗기지 아니하리라 하시니라</p1><br/><br/>
        <h2>4. 예수님을 따라 배우라 그러면 마음이 쉼을 얻을 것이다. </h2><br/>
        <p1>마태복음 11:29 나는 마음이 온유하고 겸손하니 나의 멍에를 메고 내게 배우라 그리하면 너희 마음이 쉼을 얻으리니 </p1><br/><br/>
        <h2>5. 무엇을 하든지 하나님의 영광과 많은 사람의 유익을 위하여 하라. </h2><br/>
        <p1>고린도전서 10:31 그런즉 너희가 먹든지 마시든지 무엇을 하든지 다 하나님의 영광을 위하여 하라 32 유대인에게나 헬라인에게나 하나님의 교회에나 거치는 자가 되지 말고 33 나와 같이 모든 일에 모든 사람을 기쁘게 하여 자신의 유익을 구하지 아니하고 많은 사람의 유익을 구하여 그들로 구원을 받게 하라 </p1><br/><br/>
    </body>
</html>