<!DOCTYPE html>
<html>
    <head>
        <title>Work_2</title>
    </head>
    <body>
        <h1>일과 신앙은 어떻게 병행해야 하는가?</h1><br/>
        <h2>1. 먼저 하나님의 나라와 의를 구해야 한다. </h2><br/>
        <p1>마태복음 6:33 그런즉 너희는 먼저 그의 나라와 그의 의를 구하라 그리하면 이 모든 것을 너희에게 더하시리라 34 그러므로 내일 일을 위하여 염려하지 말라 내일 일은 내일이 염려할 것이요 한 날의 괴로움은 그 날로 족하니라 </p1><br/><br/>
        <h2>2. 바울은 일하는 것과 복음 전하는 것을 병행했다. </h2><br/>
        <p1>데살로니가전서 2:9 형제들아 우리의 수고와 애쓴 것을 너희가 기억하리니 너희 아무에게도 폐를 끼치지 아니하려고 밤낮으로 일하면서 너희에게 하나님의 복음을 전하였노라</p1><br/><br/>
        <h2>3. 느헤미야도 기도와 일을 병행했다. </h2><br/>
        <p1>느헤미야 4:9 우리가 우리 하나님께 기도하며 그들로 말미암아 파수꾼을 두어 주야로 방비하는데</p1><br/>
        <p1>느헤미야 4:22 그 때에 내가 또 백성에게 말하기를 사람마다 그 종자와 함께 예루살렘 안에서 잘지니 밤에는 우리를 위하여 파수하겠고 낮에는 일하리라 하고</p1><br/><br/>
        <h2>4. 그리스도 안에서 조용히 일하여 자기 양식을 먹으라. </h2><br/>
        <p1>데살로니가후서 3:10 우리가 너희와 함께 있을 때에도 너희에게 명하기를 누구든지 일하기 싫어하거든 먹지도 말게 하라 하였더니 11 우리가 들은즉 너희 가운데 게으르게 행하여 도무지 일하지 아니하고 일을 만들기만 하는 자들이 있다 하니 12 이런 자들에게 우리가 명하고 주 예수 그리스도 안에서 권하기를 조용히 일하여 자기 양식을 먹으라 하노라</p1><br/><br/>
        <h2>5. 하나님을 의지하고 선을 행하며 성실하라. </h2><br/>
        <p1>시편 37:3 여호와를 의뢰하고 선을 행하라 땅에 머무는 동안 그의 성실을 먹을 거리로 삼을지어다</p1><br/><br/>
    </body>
</html>